
body {
    font-family: 'Arial', sans-serif;
    background-image: url('Fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0;
    color: #333;
    padding-top: 120px;
    margin: 0;
    box-sizing: border-box;
}


.landing-page {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
    margin: 0 auto;
}

.nota-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}


.nota-btn {
    padding: 15px 30px;
    font-size: 16px;
    background-color: rgba(28, 181, 224, 0.9);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    margin: 8px;
}

.nota-btn:hover {
    background-color: rgba(0, 123, 181, 1);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


#music-output, .controls {
    margin-top: 20px;
}


#generate-music {
    background-color: rgba(255, 87, 34, 0.9);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#generate-music:hover {
    background-color: rgba(255, 61, 0, 1);
}


.landing-page2 {
    margin-top: 50px;
    background-color: rgba(0, 188, 212, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.informacion-text {
    font-size: 1.2rem;
    color: black;
    text-align: center;
    line-height: 1.6;
}


@media (max-width: 768px) {
    .nota-btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    .landing-page {
        padding: 20px;
    }

    .landing-page2 {
        padding: 20px;
    }

    .informacion-text {
        font-size: 1rem;
    }
}
